

.individualPostPage{
    width: 100%;
    height: 100vh;
    background-color: rgb(25, 37, 51);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.individualPostPageInner{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: left;
    align-items: center;
    justify-content: center;

}

.individualPost{
    width: 50%;
    height: 80%;
  
}

.backButton{
    color: white;
    font-size: 20px;
  
}

.backButton:hover{
    cursor: pointer;
    
  
}
.postImage{
    width: 100%;
    height: 60%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.259);
}

.individualPostInfo{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-evenly;
    
    
}

.individualpostInformation{
    width: 60%;
    height: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
 
   
   
}

.individualPostInteractions{
    width: 60%;
    height: 20%;
    color: white;
    
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
   
}

.individualPostInner{
    width: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.IndividualTrendingPosts{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: right;
    flex-direction: column;
    justify-content: right;
    
  

}
.individualPostTrendingTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;

}
.trendingTitle{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    height: 10%;
    padding: 10px;
    font-size: 20px;
    
}



@media only screen and (max-width: 600px) {
   
    .individualPostPageInner{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
       
    
    }

    
    

    .IndividualTrendingPosts{
        width: 100%;
        height: 50%;
       display: none;
      
    
    }


.individualPost{
    width: 90%;
    height: 100%;
    position: relative;
    padding-left: 10%;
  
}

.postImage{
    width: 100%;
    height: 50%;
    
   

   
}
.individualPostInfo{
    width: 100%;
    height: 50%;
    
    
    
}

.individualPostInner{
    width: 30%;

}
    

.individualpostInformation{
    width: 100%;
    height: 20%;
    font-size: 15px;
 
   
   
}

  }