@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.navBar{
    width: 30vh;
    z-index: 100;
    height: 100vh;

    position: fixed;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    overflow-y: scroll;
    min-height: 200px;
    min-width: 180px;
 
    
    
   
}

.logo{
    display: none;
}
.navBarClosed{
    width: 10vh;
    z-index: 100;
    height: 100%;
    background-color: #101010;
    position: fixed;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.111);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    overflow-y: scroll;
    min-width: 100px;
  

   
}

.closeNavContainer{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px;
    display: flex;

}
.closeNav{
    color: white;
    cursor: pointer;

    
}
.navLogoutButton{
   position: relative;
   top: -10px;
}
.userName{
    color: rgb(241, 241, 241);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;


}

.profileImage{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-image: url("https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
.navProfileInfo{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.navButtonContainer{
    width: 100%;
    height: 70%;
}

.CloseNavButtonContainer{
    width: 100%;
    height: 70%;
}

.buttonSection{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(245, 222, 179, 0);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.029);
    border-top: 1px solid rgba(255, 255, 255, 0.047);
    padding: 20px;
    align-items: center;
    
 
    
}


.navIcon{
    width: 50%;
    color: rgba(158, 157, 157, 0.965);
    font-size: 40px;
    height: 100%;
}


.navIconClosed{
    width: 100%;
    color: rgba(158, 157, 157, 0.965);
    font-size: 30px;
    height: 100%;
}

.navTitle{
    width: 50%;
    text-align: left;
    color: rgba(241, 241, 241, 0.965);
    height: 100%;
}


@media only screen and (max-width: 600px) {
   
  

    .navBar{
        width: 20vh;
       
       
       
    }
    .navIcon{
        font-size: 30px;
    
    }
    
    
    .navIconClosed{
        width: 100%;
       
        font-size: 30px;
        transition: 1s ease-in-out;
        
        
    }

    .navTitle{
        
   
        font-size: 13px;
    }


    .navBar{
        width: 100%;
        z-index: 100;
        height: 100vh;
        transition: .4s ease-in-out;
        
        
       
    }
    .navBarClosed{
        width: 100%;
        z-index: 100;
        height: 10vh;
        min-height: 70px;
        min-height: none;
        transition: .5s ease-in-out;
    
    

       
    }

    .closeNavContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
      
        
       
    
    }

    .navButtonContainer{
        width: 100%;
        height: 70%;
    }
    
    .navButtonContainer{
        width: 100%;
        height: 0%;
    }

    
    
  .CloseNavButtonContainer{
    display: none;
  }
    
   
  .logo{
    display:block;
 
    color: white;
    top: -20%;
}


.closeNav{
    color: white;
 
    position: relative;
    top: -20%;
    


    
}
  }