.ProfileNav{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.innerProfileNav{
    width: 90%;
    height: 80%;
    background-color: rgba(68, 66, 66, 0.072);
    border: 2px solid rgba(255, 255, 255, 0.33);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.profileNavButton{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.ProfileIcon{
    color: rgb(234, 234, 234);
    font-size: 40px;
    text-shadow: 2px 3px 5px black;
}

.ProfileIcon:hover{
    color: rgb(136, 135, 135);
    font-size: 40px;
    text-shadow: 2px 3px 5px black;
}



@media only screen and (max-width: 600px) {
    .ProfileIcon{
        
        font-size: 30px;

    }
  

  }