.profileSetingsPage{
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 15, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}


.profileSettingsInner{
    width: 80%;
    height: 80%;
    background-color: rgba(74, 71, 71, 0.343);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profileImageSettings{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profileSettingDate{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.custom-file-upload-ProfileSettings{
    background-color: rgba(183, 182, 182, 0);
    color: white;
    position: relative;
    bottom: 40px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
 
}

.profileSettingDateInput{
    background-color: rgba(30, 30, 30, 0.692);
    padding: 20px;
    color: white;
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.314);
    font-family: 'Josefin Sans', sans-serif;
}
.imageuploadInput{
    display: none;
}